table {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  height: 30px;
  position: relative;
  /* Transition for hover effect */
  transition: all 0.3s;
}

th {
  /* Header colors */
  color: #CCCCCC;
  background: #333333;
  font-weight: bold;
}

td {
  background: #FAFAFA;
  text-align: center;
}

/* Even rows color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Odd rows color */
tr:nth-child(odd) td { background: #FEFEFE; }

/* Hover cell effect! */
tr td:hover {
  background: #666;
  color: #FFF;
}